body {
	background-color: #777777;
	padding: 0;
	margin: 0;
	transition: 1s all;
}

header {

	background-color: #444444;
}

#Layer_1 {
	.st0 {
		fill: url(#polygon16_1_)
	}

	.st1 {
		fill: #0071b9
	}

	.st2 {
		fill: url(#polygon25_1_)
	}

	.st3 {
		fill: #1d2c5e
	}

	.st4 {
		fill: url(#polygon36_1_)
	}

	.st5 {
		fill: url(#polygon43_1_)
	}

	.st6 {
		fill: #312370
	}

	.st7 {
		fill: #21386e
	}

	.st8 {
		fill: url(#polygon56_1_)
	}

	.st9 {
		fill: url(#path69_1_)
	}

	.st10 {
		fill: url(#polygon78_1_)
	}

	.st11 {
		fill: #ffcb05
	}

	.st12 {
		fill: #7d7f68
	}

	.st13 {
		fill: #c7a008
	}

	.st14 {
		fill: #3c5aa6
	}

	.st15 {
		fill: #3567b0
	}

	.st16 {
		fill: #1e2d5f
	}

	.st17 {
		fill: #3466af
	}

	.st18 {
		fill: url(#path183_1_)
	}

	.st19 {
		fill: url(#path196_1_)
	}
}

header h1 {
	margin: 0;
	padding: 0.5rem 0rem 0rem 0rem;
	text-align: center;
	/* 	border-bottom: 1px solid gray; */
	/* 	margin-bottom: 0.2rem; */
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	margin: 0.2rem 0;
	padding: 0;
}

nav li {
	margin: 0;
	padding: 0;
	border: 1px solid gray;
	border-left: none;
	/* 	border-collapse: collapse; */
	display: flex;
}

li.selected {
	background-color: #666;
}

nav li:first-child {
	border-left: 1px solid gray;
}

nav li a {
	color: #cccccc;
	padding: 0.5em 1.5em;
	display: block;
	flex-grow: 1fr;
}

nav li a:hover {
	background: #333333;
}

nav {
	/* 	border: 1px solid red; */
	padding: 0rem;
	padding-bottom: 0.1rem;
	display: grid;
	justify-content: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

main section {
	margin: 1rem 0.4rem;
	padding: 0.4rem;
	/* 	border: 1px solid red; */
	box-shadow: 0em 0em 0.3em #eee;
	border-radius: 0.3em;
}

.champion .image {
	width: 4.5em;
	height: 4.5em;
	border: 1px solid #444;
	background: #aaa;
	margin-right: 1.5em;
}

.champion {
	margin: 1rem 0;
	border: 1px solid #aaa;
	display: flex;
	padding: 0.4em;
	border-radius: 0.2em;
}

h2 {
	margin: 0.3em 0;
}